<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>팀 소개</title>
</head>
<style>
    .main_box {
        margin: 20px 5%;
    }

    .but{
        font-size: 40px;
    }

    #check-btn {
        display: none;
    }

    #check-btn:checked~.menubars {
        display: block;
    }

    .menubars {
        display: none;
    }
</style>

<body>
    <div class ="main_box">
        <div>
            <label for="check-btn" style="font-size: 60px;">팀 소개</label>
            <ul class="menubars"style="font-size: 40px;">
                <li>궁극적인 목표<p>        빠지지말고 끝까지 완주하기</p></li>
                <li>우리팀의약속<p>        1.빠지게 될경우 미리 팀원에게 먼.저 이야기하기</p><p>        2.P는 이 이상이 귀찮다..</p></li>
            </ul>
        </div>
    </div>
</body>
</html>