@charset "utf-8";

.profile {
    margin: 20px auto 20px auto;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    width: 100%;
    max-width: 1000px;
}

.profile>.name {
    font-size: 7vw;
    margin: 0 0 0 3vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.profile>.profile_pic {
    width: 50%;
    object-fit: cover;
    border-radius: 70%;
}

.imformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accordion {
    width: 95%;
}

.comments {
    width: 95%;
    margin: 20px auto 20px auto;
    padding: 20px;

    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: center;
    flex-wrap: wrap;
}

.mypost {
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    margin: 20px auto 20px auto;
}

.mypost>button {
    margin-top: 15px;
}

.mycards {
    width: 95%;
    max-width: 500px;
    margin: auto;
}

.mycards>.card {
    margin-top: 10px;
    margin-bottom: 10px;
}