<!DOCTYPE html>
<html lang="ko">

<head>
    <link href="{{ url_for('static', filename='guestbook.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../static\guestbook.css" type="text/css"> -->
</head>

<body>
    <div class="guestbook">
        <h2 style="text-align: center;">방명록</h2>
        <div class="member_post">
            <div class="form-floating mb-3" id="post_nickname">
                <input type="text" class="form-control" id="name" placeholder="url" />
                <label for="floatingInput">작성자</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="comment"></textarea>
                <label for="floatingTextarea2">방명록을 작성해주세요.</label>
            </div>
            <button onclick="save_comment()" type="button" class="btn btn-dark">
                작성
            </button>
        </div>
        <div class="post_list">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class='th-1'>작성자</th>
                        <th scope="col">코멘트</th>
                    </tr>
                </thead>
                <tbody id="order-box">
                    <tr>
                        <td>홍길동</td>
                        <td>서자는 억울해</td>
                    </tr>
                    <tr>
                        <td>임꺽정</td>
                        <td>힘!힘!히히히히히이이이임!</td>
                    </tr>
                    <tr>
                        <td>세종대왕</td>
                        <td>나랏말싸미</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>